<?xml version="1.0" ?>

<robot name="cell_layout" xmlns:xacro="http://ros.org/wiki/xacro">

  

  <xacro:macro name="scene">
    <xacro:include filename="inertia_description/inertia_table.xacro"/>


    <link name="robot_base">
      <visual>
        <origin xyz="0 0 0.0" rpy="0 0 0" />
        <geometry>
        <box size="0.5 0.5 0.18" />
        </geometry>
        <material name="Cyan">
          <color rgba="0 0.0 1.0 1.0"/>
        </material>
      </visual>

      <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <box size="0.5 0.5 0.18" />
          </geometry>
        </collision>

      <inertial>
          <xacro:box_inertia m="2" x="0.5" y="0.5" z="0.18"/>
      </inertial>
    </link>

   
  


    <link name="controleur">
      <inertial>
        <xacro:box_inertia m="1" x="0.8" y="2.4" z="1.5"/>
      </inertial>

      <visual>
        <origin xyz="-0.4 0.0 0.75" rpy="0 0 0" />
        <geometry>
          <box size="0.8 2.4 1.5" />
        </geometry>
        <material name="gray">
          <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
      </visual>

      <collision>
        <origin xyz="-0.4 0.0 0.75" rpy="0 0 0" />
        <geometry>
          <box size="0.8 2.4 1.5" />
        </geometry>
      </collision>
    </link>

    <link name="table">
      <inertial>
        <xacro:box_inertia m="1" x="2.2" y="1.0" z="0.832"/>
      </inertial>

      <visual>
        <origin xyz="1.1 0.5 0.4115" rpy="0 0 0" />
        <geometry>
          <box size="2.2 1.0 0.823" />
        </geometry>
        <material name="wood">
          <color rgba="1 0.9 0.8 1.0"/>
        </material>
      </visual>
      
      <collision>
        <origin xyz="1.1 0.5 0.4115" rpy="0 0 0" />
        <geometry>
          <box size="2.2 1.0 0.823" />
        </geometry>
      </collision>
    </link>

   <!-- <link name="piece">
    <visual>
      <origin xyz="0.040 0.084 0" rpy="-1.5707896 0 0" />
      <geometry>
        <mesh filename="file:///$(find cell_envir)/urdf/piece_description/Part1V3.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="Cyan">
        <color rgba="0 0.0 1.0 1.0"/>
      </material>
    </visual>
    <inertial>
        <xacro:box_inertia m="0.2" x="0.4" y="0.4" z="0.1"/>
     </inertial>
  </link> -->
  

    <joint name="joint_base_world" type="fixed">
      <origin xyz="0.0 0.0 0.09" rpy="0.0 0.0 0.0"/>
      <parent link="world"/>
      <child link="robot_base"/>
    </joint>

    <joint name="joint_controleur" type="fixed">
      <origin xyz="-1.2 0.1 0.0" rpy="0.0 0.0 0.0"/>
      <parent link="world"/>
      <child link="controleur"/>
    </joint>

    <joint name="joint_table" type="fixed">
      <origin xyz="-0.430 1.4 0" rpy="0.0 0.0 0.0"/>
      <parent link="world"/>
      <child link="table"/>
    </joint>


    <!-- <joint name="joint_arm1" type="fixed">
      <origin xyz="1.075718 -0.717824 0.43" rpy="0.0 0.0 0.0"/>
      <parent link="world"/>
      <child link="arm_1"/>
    </joint>

    <joint name="joint_arm1_arm2" type="fixed">
      <origin xyz="0.0 0.135 0.62" rpy="0.0 0.0 0.0"/>
      <parent link="arm_1"/>
      <child link="arm_2"/>
    </joint> -->

    <!-- <joint name="joint_piece_world" type="fixed">
      <origin xyz="1.075718 0.25 0.86" rpy="0.0 0.0 0.0"/>
      <parent link="world"/>
      <child link="piece"/>
    </joint> -->

  
    

  </xacro:macro>
  <xacro:scene/>

</robot>
