<?xml version="1.0" ?>

<robot name="fact_robot" xmlns:xacro="http://ros.org/wiki/xacro">

 
  <xacro:include filename="cell_layout.xacro"/>
  <xacro:include filename="motoman_mh12_support/urdf/mh12_macro.xacro" />
  <xacro:include filename="ensenso_description/ensenso.xacro"/>
  <xacro:include filename="gripper_description/custom_gripper2.xacro"/>
  <xacro:include filename="inertia_description/inertia_table.xacro"/>
  <xacro:include filename="plugins_description/pointcloud.xacro"/>


  <xacro:motoman_mh12 prefix=""/>
  <xacro:ensenso_X200_Series name="my_camera" margin="0.03"/>

  <link name="world">
  </link>
  
  <link name="gripper">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
          <mesh filename="file:///$(find cell_envir)/urdf/gripper_description/gripper_bi.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="Cyan">
        <color rgba="0 0.0 1.0 1.0"/>
      </material>
    </visual>

    <collision name = "custom_gripper_collision">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.05 0.15 0.05" />
        </geometry>
    </collision>

    <inertial>
          <xacro:box_inertia m="0.5" x="0.05" y="0.15" z="0.05"/>
    </inertial>
  </link>

  
  <link name="support">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///$(find cell_envir)/urdf/gripper_description/support2.stl" scale="0.005 0.005 0.005" />
      </geometry>
      <material name="Cyan">
        <color rgba="0 0.0 1.0 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.05 0.15" />
      </geometry>
    </collision>

    <inertial>
          <xacro:box_inertia m="0.5" x="0.05" y="0.05" z="0.15"/>
    </inertial>
  </link>


  <joint name="joint_robot_base_link" type="fixed">
    <origin xyz="0.0 0.0 0.09" rpy="0.0 0.0 0.0"/>
    <parent link="robot_base"/>
    <child link="base_link"/>
  </joint>


  <joint name="joint_tool0_camera" type="fixed">
    <origin xyz="0.15213 0.0 0.01" rpy="0 0.0 -1.570789632"/>
    <parent link="tool0"/>
    <child link="my_camera"/>
  </joint>


  <joint name="joint_tool0_support" type="fixed">
    <origin xyz="0.00 0.00 0.00" rpy="0 0.0 0"/>
    <parent link="tool0"/>
    <child link="support"/>
  </joint>

  <joint name="joint_support_gripper" type="fixed">
    <origin xyz="0.0 0.0 0.07" rpy="1.5708 0.0 1.5708"/>
    <parent link="support"/>
    <child link="gripper"/>
  </joint>


  <!-- TCP frames -->

  <link name = "gripper_tcp">
  </link>

  <link name = "camera_tcp">
  </link>

  <!-- <link name = "pince_tcp">
  </link> -->

  <joint name="joint_gripper_tcp_gripper" type="fixed">
    <origin xyz="0.26 0.0 0" rpy="0 0 0"/>
    <parent link="link_6_t"/>
    <child link="gripper_tcp"/>
  </joint>

  <joint name="joint_camera_tcp_camera" type="fixed">
    <origin xyz="0 0 0.05" rpy="0 ${-pi/2} 0"/>
    <parent link="my_camera_left_lens_frame"/>
    <child link="camera_tcp"/>
  </joint>

  <!-- <joint name="joint_custom_gripper_tcp_pince" type="fixed">
    <origin xyz="0 0.01 0" rpy="0 0 0"/>
    <parent link="custom_gripper_base"/>
    <child link="pince_tcp"/>
  </joint>

  <joint name="joint_arm_custom_gripper" type="fixed">
    <origin xyz="0.0 0.185 -0.17" rpy="0 0 0"/>
    <parent link="arm_2"/>
    <child link="custom_gripper_base"/>
  </joint> -->

  
  <xacro:finger name="main_left_finger" x_pos="-0.01" size_x="0.04" size_y="0.003" size_z="0.008"/>
  <xacro:finger name="main_right_finger" x_pos="0.01" size_x="0.04" size_y="0.003" size_z="0.008"/>

  <xacro:prismatic_joint name="main_left_finger_joint" parent="gripper" child="main_left_finger" rotation="-1.570796" x_pos="0.007" y_pos="0.092" lower_lim="0.0" upper_lim="0.11" mimic_joint="false"/>
  <xacro:prismatic_joint name="main_right_finger_joint" parent="gripper" child="main_right_finger" rotation="1.570796" x_pos="-0.007" y_pos="0.092" lower_lim="0.0" upper_lim="0.11" mimic_joint="true" mimic_joint_name="main_left_finger_joint" mimic_multiplier="1" mimic_offset="0"/>


</robot>